body {
  background-image: url("../../assets/bg-img.jpg");
  background-size: cover;

  /* &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(1px);
  } */
}
.main-container {
  background-color: var(--color-bg-primary);
  min-height: 100vh;
}

.input-search-admin {
  background-color: var(--color-secondary);
  border-color: white;
  &:focus {
    background-color: var(--color-secondary);
  }
}
.btn-search-admin {
  &:hover {
    background-color: var(--color-primary);
  }
}
.btn-add-admin {
  &:hover {
    background-color: var(--color-secondary);
  }
}

.table-container-admin {
  max-height: 650px;
  font-size: .83rem;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  border-bottom: 2px solid #727272;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  /* scroll bar personalized */
  &::-webkit-scrollbar {
    background-color: #212529;
    width: 8px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 20px;
  }
}

.head-table-admin {
  background-color: var(--color-primary);
  --bs-table-bg: none;
  position: sticky;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.row-table-admin {
  margin-bottom: 10px;

  th,
  td {
    padding: calc(0.70rem * 1.1);
  }
}

.img-product-admin {
  max-width: 88px;
}

.isbn {
  min-width: 200px;
}
.text-edition-admin {
  max-width: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: start;
}
.text-description-admin {
  max-width: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: start;
}

.btn-table-admin {
  color: var(--color-secondary);

  &.btn-trash:hover {
    color: #ef5353;
  }
}
.btn-viewMore {
  cursor: pointer;

  &:hover {
    color: #ffffffaf;
  }
}

/* estilos de la ventana modal */

.modal-admin-content{
  background-color: var(--color-bg-primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modal-header-custom{
  background-color: var(--color-primary);
}
.btn-submit-admin{
  background-color: var(--color-primary);

  &:hover{
    background-color: var(--color-secondary);
  }
}

@media (max-width: 992px) {
  .table-container-admin{
    font-size: .8rem;
    max-height: 650px;
    overflow-x: scroll;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .table-container-admin{
    max-height: 800px;
    overflow-x: scroll;
  }
}
