.fondo-detalle {
    background-image: url('https://st2.depositphotos.com/1004788/7394/i/450/depositphotos_73946859-stock-photo-old-paper-background.jpg');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
}

.main-detalle {
    margin-top: 180px;
}

.img-container {
    height: 500px;
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


