.navbar-container{
  width: 100vw;
  background-color: var(--color-primary) !important;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar-fixed{
  position: fixed;
  z-index: 99;
}
.navbar2-color{
  background-color: var(--color-secondary);
}

/* modal login */

.modal-dialog-navbar{
  max-width: 390px;
  max-height: 750px;
  background-color: var(--color-bg-tertiary);
  font-family: var(--font-secondary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.modal-content-navbar{
  height: 100%;
  background-color: var(--color-primary);
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 90%);
}

.form-control-navbar{
  background-color: aliceblue !important;
  color: black;
  &:focus{
    background-color: aliceblue !important; 
    color: black;
  }
  &:active{
    background-color: aliceblue !important;
    color: black;
  }
  &::placeholder{
    color: rgba(73, 73, 73, 0.5);
  }
}
.modal-body-navbar{
  max-width: 350px;
  min-height: 550px;
  margin: auto;
}
.label-login{
  color: aliceblue;
}

.btn-login{
  background-color: var(--color-primary);
  border: 1px solid white;

  &:hover{
    background-color: var(--color-secondary);
    border: 1px solid white;
  }
}
.img-brand-login{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 10;
}

/* fin del modal */

.icono-nav{
  border: none;
  &:active{
    border: none;
  }
}
.input-search-navbar{
  width: 400px;
  max-width: 400px;
  background-color: aliceblue !important;
  color: black;
  &:focus{
    background-color: aliceblue;
    color: black;
  }
  &::placeholder{
    color: rgba(73, 73, 73, 0.5);
  }
}
.iconNav-navbar{
  color: var(--color-bg-tertiary);
  cursor: pointer;
  
  &:hover{
    color:rgb(196, 197, 197);
  }
}
.text-userNotFind{
  color: #ea868f;
  padding-bottom: 10px;
  margin: 10px 0px 10px 0px;
}

.nav-custom{
  cursor: pointer;
}

.category-container{
  background-color: var(--color-secondary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-category-collapse{
  background-color: var(--color-secondary);
  display: none;
  position: relative;
  z-index: 9;
}
.category-collapse{
  position: static;
  background-color: var(--color-secondary);
  width: 100%;
  top:130px;
  left: 0;
  transition: all .4s ease;
  z-index: 1;
}
.category-list{
  display: flex;
  flex-direction: row;
  justify-content: center;

  & span{
    color: rgb(218, 218, 218);
    cursor: pointer;
    margin: 8px 50px 8px 50px;

    &:hover{
      color: aliceblue;
    }
  }
}

.link-filter{
  user-select: none;
}

.icon-navbar{
  width: 50px;
}

.card-user-mobile{
  display: none;
}
.icon-brand-mobile{
  display: none;
}
.icon-brand-lg{
  display: block;
}

@media (max-width: 1000px) {
  .navbar-container{
    box-shadow: none;
  }
  .input-search-navbar-container{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .btn-category-collapse{
    display: block;
  }
  .category-collapse{
    display: none;
    position: absolute;
    background-color: var(--color-secondary);
    width: 100%;
    top:130px;
    left: 0;
    transition: all .4s ease;
    z-index: 1;
  }
  .category-list{
    display: flex;
    flex-direction: column;
  }
  .input-search-navbar{
    width: 400px;
  }
  .card-user-mobile{
    display: block;
  }
  .icon-brand-mobile{
    display: block;
  }
  .icon-brand-lg{
    display: none;
  }
  .cart-user-lg{
    display: none;
  }
}

@media (max-width: 576px){
  .modal-dialog-navbar{
    margin-top: 30px;
    max-width: 100%;
    height: 80%;
  }
  .input-search-navbar-container{
    display: block;
    width: 100%;
  }
  .input-search-navbar{
    width: 100%;
  }
}